@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
}
.flex{
    display: flex;
}
.content-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.space-between{
    justify-content: space-between;
}
.flex-col{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}